<!DOCTYPE html>
<html>
    <head>
        <title>Engine</title>
        <link rel="icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="../static/styles/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <script>
    var goToAddress = function(){
        window.open("https://www.google.com/maps/dir//%7B%7B street }}","_blank");
    };
    var goToGithub = function(){
        window.open("https://www.github.com/LincolnKermit/FVP","_blank");
    };
    var goToErase = function(){
        open("/eraseit/")
    };
    var goToCall = function(){
        window.open("tel:{{phone}}","_blank");
    };
    </script>
    <video autoplay muted loop id="myVideo">
      <source src={{ url_for('static', filename="op.mp4") }} type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    {% if error == False %}
      <form class="box">
        <div class="discord-profil-image" align="middle">
        <img src="{{profile_img}}"align="middle" />
        </div>
        <p>👁️‍🗨️ {{ discord_user }}</p>
        <p>🌠 Bannière : </p>
        <div class="discord-banner-image" align="middle">
        <img src="{{ banner }}"align="middle" />
        <form class="icon-delete">
            <input type="button" class="erase" name="" value="Erase it!" onclick="goToErase();">
            <input type="button" name="" value="Notez notre projet " class="submit" onclick="goToGithub();">
            <p>Coded with 💙</p>
        </div>
    </div>



    
    {% endif %}
    {% if error == True %}
    <form class="box">
      <p> Alerte : Peu d'informations trouvés</p>
      <p>Vous avez peut être été limité!</p>
    </form>
    {% endif %}
    <body>
</html>
