<!DOCTYPE html>
<html>
        <head>
            <title>Engine</title>
            <link rel="stylesheet" type="text/css" href="../static/styles/style.css" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
    <body>
    <video autoplay muted loop id="myVideo">
      <source src={{ url_for('static', filename="op.mp4") }} type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    <div class="content">
      <h1>Pas de resultats trouvés</h1>
      
    <body>
</html>
