{
  box-sizing: border-box;
  }
    
  body {    margin: 0;
      font-family: Arial;
      font-size: 17px;
  }
    
  #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
  }
    
  .content {
      position: fixed;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
  }
  .content2 {
      position: fixed;
      bottom: 0;
      background: rgba(255, 255, 255, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
  }
    
  #myBtn {
      width: 200px;
      font-size: 18px;
      padding: 10px;
      border: none;
      background: #000;
      color: #fff;
      cursor: pointer;
  }
    
    #myBtn:hover {
      background: #ddd;
      color: black;
    }
  a.button {
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
  
      text-decoration: none;
      color: initial;
  }
  body{
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      background: #34495e;
    }
    .box{
      width: 300px;
      padding: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: #191919;
      color: white;
      text-align: center;
      
    }
    .box h1{
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      
    }
    .box input[type = "text"],.box input[type = "password"]{
      border:0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #0e8ebd;
      padding: 14px 10px;
      width: 200px;
      outline: none;
      color: white; 
      border-radius: 24px;
      transition: 0.25s;
    }
    .box input[type = "text"]:focus,.box input[type = "password"]:focus{
      width: 280px;
      border-color: #0e8ebd;
    }
    .box input[class = "submit"]{
      border:0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #0e8ebd;
      padding: 14px 40px;
      outline: none;
      color: white;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
    }
    .box input[class = "submit"]:hover{
      background: #0e8ebd;
    }
    .box input[class = "erase"]{
      border:0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #d62c01;
      padding: 14px 40px;
      outline: none;
      color: white;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
    }
    .box input[class = "erase"]:hover{
    background: #d62c01;
    }
    .box button[class = "erased"]{
      border:0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #d62c01;
      padding: 14px 40px;
      outline: none;
      color: white;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
    }
    .box button[class = "erased"]:hover{
    background: #d62c01;
    }

    
